rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    // Función auxiliar para verificar si es Admin
    function isAdmin() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'admin';
    }

    // 1. DEFINICIONES DE ENCUESTAS (Creadas por el Admin)
    match /surveys/{surveyId} {
      allow read: if request.auth != null; // Todos los militantes pueden ver las preguntas
      allow write: if isAdmin(); // Solo Admin crea/edita encuestas
    }

    // 2. RESPUESTAS DE CAMPO (Enviadas por Militantes)
    match /survey_responses/{responseId} {
      // Crear: Cualquier militante autenticado puede enviar
      allow create: if request.auth != null;
      
      // Leer: El militante SOLO ve sus propias respuestas. El Admin ve todas.
      allow read: if request.auth != null && (resource.data.militanteId == request.auth.uid || isAdmin());
      
      // Editar/Borrar: NADIE puede alterar la historia (inmutabilidad), salvo Admin en casos extremos
      allow update, delete: if isAdmin();
    }
    
    // 3. USUARIOS
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if isAdmin(); // Solo admin asigna roles
    }
  }
}
